/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
  font-size: 1em;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 28px;
}

h1 > a {
  color: #4db6ac !important;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4, h5, h6 {
  font-size: 18px;
}

li {
  padding-bottom: 5px;
}

code, pre {
  font-family: 'Fira Code', monospace;
  border-radius: 7px;
}

p {
  font-size: 1em;
}

p > code {
  padding: 2px 5px;
  background-color: #eeeeff;
}

td, th {
  padding:0;
}

td.lntd {
  background-color: #f0f0f0;
}
