/* You can add custom styles here. */
body,
button,
input,
select,
textarea {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
}
code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9em !important;
}
p {
  text-indent: 1em;
}