{{- define "submenu" }}
  {{- if .HasChildren }}
    <ul class="submenu">
      {{- range .Children }}
        <li class="submenu__item">
          <a class="submenu__link" href="{{ .URL }}">{{ .Name }}</a>
          {{ template "submenu" . }}
        </li>
      {{- end }}
    </ul>
  {{- end }}
{{- end }}

{{- if .Site.Menus.main }}
<nav class="menu">
  <ul class="menu__list">
    {{- range .Site.Menus.main }}
      {{- if not .Parent }}
        <li class="menu__item">
          <a class="menu__link{{ if .HasChildren }} has-submenu{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
          {{ template "submenu" . }}
        </li>
      {{- end }}
    {{- end }}
  </ul>
</nav>
{{- end }}