/* You can add custom styles here. */
body,
button,
input,
select,
textarea {
  font-family: 'M PLUS 1', sans-serif;
}
code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: 'Source Code Pro', monospace;
}